html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.wrap {
    width: 940px;
    margin: 0 auto;
    overflow: visible;
}

.header {
    width: 100%;
    float: left;
}

.header .logo {
    float: left;
    color: rgb(224,170,157);
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    margin: 10px 0;
    font-weight: 700;
}

.header .logo span {
    color: rgb(225,98,65);
}

.header .menu {
    float: right;
    list-style: none;

}
.header .menu li {
    float: left;
}
.header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    color: rgb(189,189,189);
}
.header .menu li:last-child a {
    padding-right: 0;
}

.header .menu li a.active,
.header .menu li a:hover {
    color: rgb(225,98,65);
}
/**/
.slider {
    margin-top: -50px;
    position: relative;
    float: left;
    width: 100%;
}
.slider img {
    width: 940px;
    height: 401px;
}

.slider .desc {
    position: absolute;
    top:240px;
    left: 80px;
    width: 400px;
    padding: 5px;
    background: rgb(225,98,65);
    opacity: 0.7;
}

.slider .desc h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.slider .desc p {
    color: #fff;
    font-size: 12px;
    font-weight: 100;
}

.slider .left {
    left: 20px;
    background: url("../images/arr_l.png");
}

.slider .right {
    right: 20px;
    background: url("../images/arr_r.png");

}
.slider .left,
.slider .right {
    position: absolute;
    top:190px;
    width: 36px;
    height: 52px;
    text-indent: -9999px;
    cursor: pointer;
}
.slider .left:hover,
.slider .right:hover {
    opacity: 0.7;
}

.thumbnails {
    float: left;
    width: 100%;
}

.thumbnails img {
    float: left;
    margin: 10px;
}

.thumbnails img:first-child {
    margin-left:0;
}

.thumbnails img:last-child {
    margin-right:0;
}

.features {
    float: left;
    width: 100%;
}
.features .item {
    float: left;
    width: 290px;
    margin: 30px 0 30px 35px;
}
.features .item:first-child {
    margin-left: 0;
}

.features .item h3 {
    color: rgb(225,98,65);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 0 20px 0 70px;
}

.features .item p {
    font-size: 12px;
    line-height: 22px;
}

.features .f1 h3 {
    background: url("../images/feat1.png") center left no-repeat;
}

.features .f2 h3 {
    background: url("../images/feat2.png") center left no-repeat;
}

.features .f3 h3 {
    background: url("../images/feat3.png") center left no-repeat;
}

.features .item .more {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;
    background: rgb(225,98,65);
}

.features .item .more:hover {
    opacity: 0.7;
}

.line {
    float: left;
    width: 100%;
    height: 50px;
    background: rgb(225,98,65);
    opacity: 0.7;
}

.title {
    color: rgb(225,98,65);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 0 20px 0 0px;
    overflow: hidden;
}

.title:after {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 17px;
    background: rgba(192, 192, 192, 0.4);
    border-width: 0 20px;
    margin-right: -100%;
}

.blog {
    float: left;
    width: 100%;

}

.blog .down {
    float: left;
    width: 220px;
    margin: 0 0 10px 20px;

}
.blog .down:first-child {
    margin-left: 0;
}

.blog .down a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(189,189,189);
    letter-spacing: 0.2px;
}

.blog .down:hover {
    opacity: 0.7;
}

.blog .down h3,
.blog .down p{
    padding-left: 10px;
    margin: 0;

}

.blog .down h3 {
    border-left: solid;
    border-right: solid;
    border-color: rgba(192, 192, 192, 0.3);
    border-widht: 1px;
}

.blog .down p{
    font-size: 12px;
    color: rgb(225,98,65);
    font-weight: 700;
    letter-spacing: 0.2px;
  }

.blog .down p{
    border-left: solid;
    border-bottom: solid;
    border-right: solid;
    border-color: rgba(192,192,192, 0.3);
    }

.end {
    background: rgb(225,98,65);
    text-transform: uppercase;
    float: left;
    width: 100%;
    position: relative;
    margin-top: -307px;


}
.end .about {
    float: left;
    width: 280px;
    margin: 30px 0 30px 25px;
}

.end .about:first-child {
    margin-left: 0;
    padding-left: 30px;
}

.end .about:last-child {
    padding-right: 15px;

}
.end .about h3 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 0 20px 0 20px;
}

.end .about p  {
    color: white;
    font-size: 11px;
    line-height: 22px;
    padding: 0 0 0 0px;
    margin: 0px;
    text-transform: none;
}
.end .about p span  {
    opacity: 0.5;
}

#br  {
    padding-top: 13px;
}

.end .icon a{
padding-right: 7px;

}

.line2 {
    float: left;
    width: 100%;
    height: 307px;
    background: rgb(225,98,65);
    opacity: 0.7;
    margin-top: 35px;

}
