body {
   text-decoration: none;
}

.menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
}
h2 {display: inline-block;}

.menu:after {
    content: "";
    display: table;
    clear: both;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.menu-main a:hover {opacity: 3;}

.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #F73E24;
    transition:.3s linear;
}

.menu-main li {display: inline-block;}

nav {
    list-style: none;
    margin: 0;
    padding-left: 0;

}

.img {
    text-align: center;

}

.tabl {

    text-align: center;
}

.conteiner {
    width: 80%;
    text-align: center;
    font-size: 15px;
    margin: auto;
}

p {
    text-align: left;
    font-size: 16px;

}

h3 {

    color: orange;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
